        {% extends "Mainapp_temp/base.html" %}
        {% block body_block %}

        <h1>الرجاء إدخال بيانات الطالب:</h1>
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>تم التسجيل بنجاح!</h1>
      {% else %}
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ student_form.as_p }}
          <input type="submit" name="" value="Register">
        </form>

      {% endif %}

    </div>
        {% endblock %}